// * ------------------------------- * \\
//          HEADER | SETUP
// * ------------------------------- * \\

// * --- CHANGE IMG CLASSES --- * \\
.change-img-1 {
    background-image: linear-gradient(to top, rgba($color-black, .70), rgba($color-black, .50)), url(../img/header-1.jpeg);
}
.change-img-2 {
    background-image: linear-gradient(to top, rgba($color-black, .70), rgba($color-black, .50)), url(../img/header-2.jpg);
}
.change-img-3 {
    background-image: linear-gradient(to top, rgba($color-black, .70), rgba($color-black, .50)), url(../img/header-3.jpeg);
}
.change-img-4 {
    background-image: linear-gradient(to top, rgba($color-black, .70), rgba($color-black, .50)), url(../img/header-4.jpeg);
}
.change-img-1,
.change-img-2,
.change-img-3,
.change-img-4 {
    background-attachment: fixed;
}

.header {
    //background-image: linear-gradient(to top, rgba($color-black, .70), rgba($color-black, .50)), url(../img/header-1.jpeg);
    @include img-setup;

    &__heading {
        @include center-vh;
        top: 40%;
        font-size: 2.7rem;
        letter-spacing: .2rem;
        color: $color-white;
    }
    // -- SEARCH CONTAINER -- \\
    &__search {
            flex: 0 0 40%;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 25%;
            position: absolute;
            @include center-vh;
            left: 49%;

            // --- MEDIA QUERIES --- \\
            @media only screen and(max-width: $bp-vsmall-1) {
            order: 1;
            flex: 0 0 100%;
            background-color: $color-grey-light-1;
        }
        // -- SEARCH INPUT FIELD -- \\
        &__input {
            font-family: inherit;
            font-size: inherit;
            color: $color-grey-dark-3;
            background-color: $color-grey-light-1;
            border: none;
            padding: 1.5rem 2rem;
            border-radius: 10rem;
            width: 90%;
            transition: all .2s;
            margin-right: -3.25rem;
    
            &:focus {
                outline: none;
                width: 100%;        // WHEN ELEMENT IS FOCUSED (CLICKED) IT WILL EXTENED. 
                background-color: $color-grey-light-2;
            }
    
            &::-webkit-input-placeholder {
                font-weight: 100;
                color: $color-grey-dark-1;
            }
        }
        &__input:focus + &__button {
            background-color: $color-grey-light-2;
        }
        // -- SEARCH SUGGESTIONS | AUTOCOMPLETE -- \\
        &__suggestions {
            position: absolute;
            top: 100%;
           & li {
            background: $color-white;
            list-style: none;
            border-bottom: 1px solid #D8D8D8;
            box-shadow: 0 0 1rem rgba($color-black, .10);
            margin: 0;
            padding: 1rem;
            transition: all 0.2s;
            display: flex;
            justify-content: space-between;
            text-transform: capitalize;
            &:hover {
                background: $color-grey-light-5;
            }
           }
           &__link {
               text-decoration: none;
               color: $color-grey-dark-3;
           }
        }
        
        // -- SEARCH BUTTON -- \\
        &__button {
            border: none;
            background-color: $color-grey-light-1;
    
            &:focus {
                outline: none;
            }
    
            &:active {
                transform: translateY(.2rem);
            }
        }
        // -- SEARCH ICON -- \\
        &__icon {
            font-size: 1.5rem;
            fill: $color-grey-dark-1;
            color: $color-primary;
        }
    }
}

// * ------------------------------- * \\
//       WEATHER DATA | SETUP
// * ------------------------------- * \\

// -- MAIN PAGE SETUP --
.weather-data-page {
    height: 100vh;
    position: relative;
    background-color: $color-grey-light-1;
}

.forecast-data {
    // Introduction 
    &__date {
        color: $color-primary;
        font-size: 3rem;
        text-align: center;
        padding-top: 3rem;
    }
    // Inserted Location
    &__location {
        color: $color-primary;
        font-size: 3rem;
        text-align: center;
        padding-top: 1.2rem;
    }
    // Current Weather Status
    &__weather {
        text-align: center;
        padding-top: 2.6rem;
        font-size: 1.8rem;
        color: $color-primary;
    }
    // Wrappers - Same Rules
    &__day-night-wrapper,
    &__temp-wrapper,
    &__report-wrapper {
        box-shadow: 0 1rem 1rem .1rem rgba($color-black, .10);
        display: block;
        width: 40rem;
        height: 30rem;
        position: absolute;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    // Headings - Same Rules
    &__day-night-heading,
    &__temp-heading,
    &__report {
        color: $color-primary;
    }
    // -- Day-Night Status Wrapper --
    &__day-night-wrapper {
        top: 65%;
        left: 20%;
    }
    // Day-Night Status heading
    &__day-night-heading {
        font-size: 2.4rem;
    }
    // Status for day
    &__day,
    &__night {
        color: $color-primary;
    }
    &__day {
        font-size: 1.6rem;
        @include center-vh;
        top: 40%;
    }
    // Status for night
    &__night {
        font-size: 1.6rem;
        @include center-vh;
        top: 60%;
    }
    // -- Temperature Wrapper --
    &__temp-wrapper {
        top: 65%;
        left: 50%;
    }
    // Temperature Heading
    &__temp-heading {
        font-size: 2.2rem;
    }
    // Maximum Temperature
    &__temp-max {
        font-size: 2rem;
        @include center-vh;
        top: 40%;
    }
    &__temp-max-icon {
        color: $color-primary;
    }
    // Minimum Temperature
    &__temp-min {
        font-size: 2rem;
        @include center-vh;
        top: 60%;
    }
    &__temp-min-icon {
        color: $color-primary;
    }
    // -- Report Wrapper --
    &__report-wrapper {
        top: 65%;
        left: 80%;
    }
    // Report Headline
    &__report {
        font-size: 2rem;
    }
    // Short Status Text
    &__short-text {
        font-size: 1.4rem;
        @include center-vh;
    }
    // Severity of the weather
    &__severity {
        @include center-vh;
        top: 80%;
        color: $color-black;
        font-size: 1.2rem;
    }
}