// * ------------------------------- * \\
//          HEADER | SETUP
// * ------------------------------- * \\

.header {
    height: 90vh;
    // --- MEDIA QUERIES --- \\
    @media only screen and (max-width: $bp-medium-2) { height: 75vh; }
    &__heading {
        @include center-vh;
        top: 40%;
        font-size: 2.7rem;
        font-weight: 500;
        letter-spacing: .2rem;
        color: $color-white;
        // --- MEDIA QUERIES --- \\
        @media only screen and (max-width: $bp-medium-2) { top: 35%; }
        @media only screen and (max-width: $bp-small) { font-size: 2rem; }
    }
    // -- SEARCH CONTAINER -- \\
    &__search {
            flex: 0 0 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            position: absolute;
            @include center-vh;
            left: 49%;

            // --- MEDIA QUERIES --- \\
            @media only screen and (max-width: $bp-largest-2) { width: 30%; }
            @media only screen and (max-width: $bp-medium-2) { width: 35%; top: 41%; }
            @media only screen and (max-width: $bp-medium-1) { width: 37%; }
            @media only screen and (max-width: $bp-vsmall-1) {
            order: 1;
            flex: 0 0 100%;
            background-color: $color-grey-light-1;
        }
        // -- SEARCH INPUT FIELD -- \\
        &__input {
            font-family: inherit;
            font-size: inherit;
            color: $color-grey-dark-3;
            background-color: $color-grey-light-1;
            border: none;
            padding: 1.5rem 2rem;
            border-radius: 10rem;
            width: 90%;
            transition: all .2s;
            margin-right: -3.25rem;
            &:focus {
                outline: none;
                width: 100%;        // WHEN ELEMENT IS FOCUSED (CLICKED) IT WILL EXTENED. 
                background-color: $color-grey-light-2;
            }
            &::-webkit-input-placeholder { font-weight: 100; color: $color-grey-dark-1; }
        }
        &__input:focus + &__button { background-color: $color-grey-light-2; }
        // -- SEARCH SUGGESTIONS | AUTOCOMPLETE -- \\
        &__suggestions {
            position: absolute;
            top: 100%;
            width: 75%;
            list-style: none;
            max-height: 30rem; // Height of the scroller
            -ms-overflow: auto;
            overflow: auto; // Makes ul to have a scroller
            // --- MEDIA QUERIES --- \\
            @media only screen and (max-width: $bp-desktop) { max-height: 25rem; }
           & li {
            background: $color-white;
            list-style: none;
            border-bottom: 1px solid #D8D8D8;
            box-shadow: 0 0 1rem rgba($color-black, .10);
            margin: 0;
            padding: 1rem;
            transition: all 0.2s;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox; 
            display: flex;
            justify-content: space-between;
            text-transform: capitalize;
            &:hover { background: $color-grey-light-5; }
           }
           &__link { text-decoration: none; color: $color-grey-dark-3; }
           &__rank {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox; 
                display: flex;
                justify-content: end;
           } 
            // - Flexbox For Mozilla
            @supports (-moz-appearance:none) {
                .header__search__suggestions__rank { justify-content: start; } 
            }
        }
        
        // -- SEARCH BUTTON -- \\
        &__button {
            border: none;
            background-color: $color-grey-light-1;
            &:focus { outline: none; }
            &:active { transform: translateY(.2rem); }
        }
        // -- SEARCH ICON -- \\
        &__icon {
            font-size: 1.5rem;
            fill: $color-grey-dark-1;
            color: $color-primary;
        }
    }
}