// * ------------------------------- * \\
//       WEATHER DATA | SETUP
// * ------------------------------- * \\

// -- MAIN PAGE SETUP --
.weather-data-page {
    height: 100vh;
    background-color: $color-grey-light-1;
    position: relative;
}

.forecast-data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 1rem;
    margin: 5rem;

    // Date
    &__date {
        top: 8%;
        font-size: 2.8rem;
        font-weight: 400;
        color: $color-primary;
        // CSS Grid
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        @include jacont;
    }
    // Location
    &__location {
        font-size: 3rem;
        font-weight: 400;
        color: $color-primary;
        // CSS Grid
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        @include jacont;
    }
}

// * ---------------- * \\
//  - CURRENT STATUS -
// * ---------------- * \\
.current-wrapper {
    text-align: center;
    background-color: $color-white;
    box-shadow: 0 1rem 1rem .1rem rgba($color-black, .10);
    width: 80%;
    height: 110%;
    padding-top: 1rem;
    position: relative;
    transition: all .2s;
    // CSS Grid
    grid-column: 2 / 3;
    grid-row: 10 / 16;
    @include jacont;
    // Hover Transition
    &:hover {
        transform: scale(1.1);
    }
    
    &__weather-icon { // Current Weather Icon
        font-size: 5rem;
        color: $color-primary;
        // CSS Grid
        grid-column: 2 / 3;
        grid-row: 10 / 11;
        @include jacont;
    }
    &__weather { // Current Weather Status
        font-size: 1.8rem;
        font-weight: 500;
        color: $color-primary;
        // CSS Grid
        grid-column: 2 / 3;
        grid-row: 11 / 12;
        @include jacont;
    }
    // Current Temperature | Temperature Maximum / Minimum
    &__current-temp {
        font-size: 1.8rem;
        font-weight: 300;
        color: $color-primary;
        // CSS Grid
        grid-column: 2 / 3;
        grid-row: 12 / 13;
        @include jacont;
    }
    &__temp-heading {
        font-size: 1.7rem;
        font-weight: 500;
        color: $color-primary;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    &__temp-max,
    &__temp-min {
        font-weight: 400;
        font-size: 1.7rem;
        color: $color-primary;
    }
    &__temp-max-icon,
    &__temp-min-icon {
        padding: .5rem;
    }
}

// * ---------------- * \\
//  - DAY/NIGHT STATUS -
// * ---------------- * \\
.day-night-wrapper {
    text-align: center;
    background-color: $color-white;
    box-shadow: 0 1rem 1rem .1rem rgba($color-black, .10);
    width: 80%;
    height: 110%;
    padding-top: 1rem;
    position: relative;
    transition: all .2s;
    // CSS Grid
    grid-column: 1 / 2;
    grid-row: 11 / 15;
    @include jacont;
    // Hover Transition
    &:hover {
        transform: scale(1.1);
    }

    &__dn-heading {
        font-size: 1.6rem;
        font-weight: 500;
        color: $color-primary;
        padding-bottom: 1rem;
    }
    &__day,
    &__night {
        font-weight: 400;
        font-size: 1.2rem;
        color: $color-primary;
    }
    &__day {
        @include center-vh;
        top: 45%;
    }
    &__night {
        @include center-vh;
        top: 75%;
    }
}

// * ---------------- * \\
//   - DAILY REPORT -
// * ---------------- * \\
.report-wrapper {
    text-align: center;
    background-color: $color-white;
    box-shadow: 0 1rem 1rem .1rem rgba($color-black, .10);
    width: 80%;
    height: 110%;
    padding-top: 2rem;
    position: relative;
    transition: all .2s;
    // CSS Grid
    grid-column: 3 / 4;
    grid-row: 11 / 15;
    @include jacont;
    // Hover Transition
    &:hover {
        transform: scale(1.1);
    }

    &__report {
        font-size: 2rem;
        font-weight: 500;
        color: $color-primary;
        padding-bottom: 1rem;
    }
    &__short-text {
        font-size: 1.3rem;
        font-weight: 300;
        color: $color-primary;
        padding: 0 1rem;
    }
    &__severity {
        font-size: 1.2rem;
        font-weight: 400;
        color: $color-primary;
        padding-top: 2rem;
    }
}