// * --- PRIMARY COLORS --- * \\
$color-primary: #09383E;

// * --- BASIC COLORS --- * \\
$color-black: #000;
$color-white: #fff;
// * --- GREY COLORS --- * \\
$color-grey-dark: #777; // Color for text
$color-grey-dark-2: #999; // Darker grey color 1
$color-grey-dark-3: #333; // Darker Grey Color 2
// * --- LIGHT GREY COLORS -- * \\
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f1f0f0;
$color-grey-light: #ecf0f1;
// * --- DARK GREY COLORS -- * \\
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #202020;
$color-grey-dark-5: #1b1b1b;
$color-grey-dark-6: #919496;